@model Managr.Models.Project

@{
    ViewBag.Title = "Add Member to Project";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<h1>
    Add member to Project @Model.Name
</h1>

@using (Html.BeginForm(actionName: "AddMember", controllerName: "Projects", method: FormMethod.Post))
{
    @if (Model.DropDownNonMembers != null)
    {
        <select name="userId">
            @foreach (var el in @Model.DropDownNonMembers)
            {
                <option value="@el.Value">
                    @el.Text
                </option>
            }
        </select>
    }
    else
    {
        <div class="alert alert-danger">
            <h2>The page did not load correctly. We suggest contacting an admin.</h2>
        </div>
    }

    <br />

    <input type="hidden" name ="projId" value="@Model.Id"/>

    <br />

    <button type="submit" class="btn btn-success">
        Save modifications!
    </button>
}