@model Managr.Models.Project

@{
    ViewBag.Title = "Edit project";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div>
    @using (Html.BeginForm(actionName: "Edit", controllerName: "Projects",
    method: FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.Label("Name", "Project Name:")
        <br />
        @Html.TextBox("Name", null, new { @class = "form-control" })

        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
        <br />

        @Html.Label("Description", "Public Project Description:")
        <br />
        // TODO: summernote here to expand customization possibilities for
        // project description
        @Html.TextArea("Description", null, new { @class = "form-controll" })

        @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
        <br />

        // TODO: Allow the change of project ownership

        <br />

        <button class="btn btn-success" type="submit">Save Project!</button>
    }
</div>

<br />
<br />
<br />
<br />
<br />

<div class="alert alert-danger">
    <div>
        <h2>
            Danger zone:
        </h2>

        <br />
    
        <a class="btn btn-outline-danger" href="/Projects/Delete/@Model.Id">
            <i class="bi bi-trash"></i>
            Delete project!
        </a>

        @*
            In the future I will add project management change but it is not a priority
        *@
    </div>
</div>