@{
    ViewBag.Title = "All projects";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<h1>Projects</h1>

<br />

<a class="btn btn-outline-success" href="/Projects/New">
    <i class="bi bi-tools"></i>
    Start a project!
</a>

<br />
<br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search for project" name="search" value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search Project</button>
    </div>
</form>

<div>
    @if (ViewBag.CntPages > 1)
    {
        string searchQuery = "";
        if (ViewBag.SearchString != null)
        {
            searchQuery = "search=" + ViewBag.SearchString + "&";
        }
        for (int i = 0; i < ViewBag.CntPages; ++i)
        {
            if (i != ViewBag.PageId)
            {
                <a href="/Projects/Index?@(searchQuery)page=@(i)" class="btn btn-secondary">
                    @(i + 1)
                </a>
            }
            else
            {
                <span class="btn btn-primary">
                    @(i + 1)
                </span>
            }
        }
    }
</div>

<br />  

<div class="d-flex justify-content-between">
    @for (int i = 0; i < 4 && i < ViewBag.CntProj; ++i)
    {
        Managr.Models.Project proj = ViewBag.Proiecte[i];
        <a href="/Projects/Show/@(proj.Id)" style="width: 20%; text-decoration: none; color: #084298;" class="d-flex">
            <div class="alert-primary py-3 px-3 rounded-2" style="width: 100%">
                <h3 class="card-title" style="text-align: center">
                    @proj.Name
                </h3>
                <br>
                <div class="card-text" style="font-size: 8pt; text-align: right;">
                    Made with <i class="bi bi-heart"></i> by @proj.Organizer.UserName
                </div>
            </div>
        </a>
    }
</div>
<br />
<br />
<div class="d-flex justify-content-between">
    @for (int i = 4; i < 8 && i < ViewBag.CntProj; ++i)
    {
        Managr.Models.Project proj = ViewBag.Proiecte[i];
        <a href="/Projects/Show/@(proj.Id)" style="width: 20%; text-decoration: none; color: #084298;" class="d-flex">
            <div class="alert-primary py-3 px-3 rounded-2" style="width: 100%">
                <h3 class="card-title" style="text-align: center">
                    @proj.Name
                </h3>
                <br>
                <div class="card-text" style="font-size: 8pt; text-align: right;">
                    Made with <i class="bi bi-heart"></i> by @proj.Organizer.UserName
                </div>
            </div>
        </a>
    }
</div>