@model Managr.Models.Project

@{
    ViewBag.Title = "New Project";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<div>
    @using (Html.BeginForm(actionName: "New", controllerName: "Projects",
    method: FormMethod.Post))
    {
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        @Html.Label("Name", "Project Name:")
        <br />
        @Html.TextBox("Name", null, new { @class = "form-control" })

        @Html.ValidationMessage("Name", "", new { @class = "text-danger" })
        <br />

        @Html.Label("Description", "Public Project Description:")
        <br />
        @Html.TextArea("Description", null, new { @class = "summernote" })

        @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
        <br />

        <br />

        <div class="d-flex justify-content-between" style="width:25%">
            <a href="/Projects/Index" class="btn btn-danger">Cancel</a>
            <button class="btn btn-success" type="submit">Save Project!</button>
        </div>
    }
</div>