@model Managr.Models.Project

@{
    ViewBag.Title = "Show";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<h1 class="alert alert-primary">
    @Model.Name
</h1>

<div>
    @Model.Description
</div>

<br />

<div>
    @if (@Model.Organizer != null)
    {
        <div class="alert-dark d-flex justify-content-between">
            <i class="bi bi-gear"></i>
            This project is maintained by
            <i class="bi bi-gear"></i>
        </div>
        <div class="alert-dark d-flex justify-content-between">
            <i class="bi bi-person"></i>
            @Model.Organizer.UserName
            <i class="bi bi-person"></i>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <h2>The page did not load correctly. We suggest contacting an admin.</h2>
        </div>
    }


    <br />

    @if (ViewBag.UserId == @Model.OrganizerId || ViewBag.IsAdmin)
    {
        TempData["ProjectId"] = Model.Id;
        <div class="d-flex alert-warning flex-column">
            <a class="btn btn-warning" href="/Projects/Admin/@Model.Id">
                <span class="text-success">
                    Admin area
                </span>
            </a>
        </div>
        <br />
    }
</div>

<br />

<form method="GET">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search topics or keywords" name="search" value="@ViewBag.SearchString">
        <button class="btn btn-outline-success" type="submit">Search Task</button>
    </div>
</form>

<br />

@if (ViewBag.ViewYourTasks)
{
    <div class="container">
        <h3>Your Tasks</h3>
        <hr />
        @foreach (var task in ViewBag.YourTasks)
        {
            @if (task.Status == "Not Started")
            {
                ViewBag.CardStyle = "border-danger";
                ViewBag.AlertStyle = "alert-danger";
            }
            @if (task.Status == "In Progress" || task.Status == "On Hold")
            {
                ViewBag.CardStyle = "border-warning";
                ViewBag.AlertStyle = "alert-warning";
            }
            @if (task.Status == "Completed")
            {
                ViewBag.CardStyle = "border-success";
                ViewBag.AlertStyle = "alert-success";
            }

            <div class="card @ViewBag.CardStyle">
                <div class="card-body @ViewBag.AlertStyle">
                    <h3 class="card-title py-1 px-1 rounded-1 h4">@task.Title</h3>

                    <div class="d-flex justify-content-between flex-row mt-5">

                        <span class="px-1 align-content-center">Status: @task.Status</span>

                        <span class="px-1 align-content-center">Deadline: @task.Deadline</span>

                        <a href="/Tasks/Show/@task.Id" class="btn btn-outline-dark stretched-link">Show Task</a>

                    </div>
                </div>
            </div>
            <br/>
        }
    </div>

    <br />
}

@if (ViewBag.ViewOtherTasks)
{
    <div class="container">
        <h3>Other Tasks</h3>
        <hr />
        @foreach (var task in ViewBag.OtherTasks)
        {
            @if (task.Status == "Not Started")
            {
                ViewBag.CardStyle = "border-danger";
                ViewBag.AlertStyle = "alert-danger";
            }
            @if (task.Status == "In Progress" || task.Status == "On Hold")
            {
                ViewBag.CardStyle = "border-warning";
                ViewBag.AlertStyle = "alert-warning";
            }
            @if (task.Status == "Completed")
            {
                ViewBag.CardStyle = "border-success";
                ViewBag.AlertStyle = "alert-success";
            }

            <div class="card @ViewBag.CardStyle">
                <div class="card-body @ViewBag.AlertStyle">
                    <h3 class="card-title py-1 px-1 rounded-1 h4">@task.Title</h3>

                    <div class="d-flex justify-content-between flex-row mt-5">

                        <span class="px-1 align-content-center">Status: @task.Status</span>

                        <span class="px-1 align-content-center">Deadline: @task.Deadline</span>

                        <a href="/Tasks/Show/@task.Id" class="btn btn-outline-dark stretched-link">Show Task</a>

                    </div>
                </div>
            </div>
            <br />
        }
    </div>
}