@model Managr.Models.Project

@{
    ViewBag.Title = "Transfer project ownership";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<h1>
    Transfer project @Model.Name ownership to another member
</h1>

@using (Html.BeginForm(actionName: "TransferOwnership", controllerName: "Projects", method: FormMethod.Post))
{
    @if (@Model.DropDownMembers != null)
    {
        <select name="userId">
            @foreach (var el in @Model.DropDownMembers)
            {
                <option value="@el.Value">
                    @el.Text
                </option>
            }
        </select>
    }
    else
    {
        <div class="alert alert-danger">
            <h2>The page did not load correctly. We suggest contacting an admin.</h2>
        </div>
    }

    <br />

    <input type="hidden" name="projId" value="@Model.Id" />

    <br />

    <div class="alert-danger">
        WARNING: This action can only be undone by the new owner (or an admin)
        <br />
        <button type="submit" class="btn btn-danger">
            Change ownership!
        </button>
    </div>
}