@model Managr.Models.Project

@{
    ViewBag.Title = "Transfer project ownership";
}

@if (ViewBag.Message != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<h1 style="text-align: center">
    Transfer project @Model.Name ownership to another member
</h1>

<div class="d-flex justify-content-center">
    <span style="width: 50%">
        @Model.Description
    </span>
</div>

<br />

<div class="d-flex justify-content-center">
    <a href="/Projects/Admin/@Model.Id" class="btn btn-success">
        Cancel
    </a>
</div>

<br />

@if (@Model.Members != null)
{
    <br />

    <div class="d-flex justify-content-center">
        <div class="alert-danger" style="width: 50%; text-align: center">
            <br />
            WARNING: This action can only be undone by the new owner (or an admin)!
            <br />
            <br />
        </div>
    </div>

    <br />

    <hr />

    @foreach (var usr in @Model.Members)
    {
        <div class="container">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="d-flex justify-content-between flex-row">
                        <p>@usr.UserName</p>
                        <form method="post" asp-controller="Projects" asp-action="TransferOwnership">
                            <input type="hidden" name="ProjectId" value="@Model.Id" />
                            <input type="hidden" name="UserId" value="@usr.Id" />
                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-person-up"></i> Transfer ownership <i class="bi bi-person-down"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
        <hr />
    }
}
else
{
    <div class="alert alert-danger">
        <h2>The page did not load correctly. We suggest contacting an admin.</h2>
    </div>
}